<!--
  Copyright 2014 Google Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.npi.muzeiflickr"
    android:versionCode="10007"
    android:versionName="1.0.7">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name=".FlickrMuzeiApplication">

        <!-- ORM -->
        <meta-data android:name="DATABASE" android:value="flikr_muzei.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.npi.muzeiflickr.db" />


        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:theme="@style/AppTheme"
            android:label="@string/about">
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".api.FlickrSource"
            android:label="@string/source_name"
            android:description="@string/source_description"
            android:icon="@drawable/ic_source">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
                <action android:name="com.npi.muzeiflickr.NEXT_FROM_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="#fff" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.npi.muzeiflickr.ui.activities.SettingsActivity" />
        </service>

        <!-- Widget declaration -->
        <receiver
            android:name=".ui.widgets.FlickrWidget"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

    </application>

</manifest>
